In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:\\Users\\ytsub\\Desktop\\github\\Know_Your_Health_MLModel\\dataset\\hear_dataset.csv")

In [3]:
df.head()

,Age,Sex,Cholesterol,Blood Pressure High,Blood Pressure Low,Heart Rate,Diabetes,Family History,Smoking,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,BMI,Physical Activity Days Per Week,Sleep Hours Per Day,Heart Attack Risk
0,67,1,208,158,88,72,0,0,1,0,4.168189,0,0,0,9,31.251233,0,6,0
1,21,1,389,165,93,98,1,1,1,1,1.813242,1,1,0,1,27.194973,1,7,0
2,21,0,324,174,99,72,1,0,0,0,2.078353,2,1,1,9,28.176571,4,4,0
3,84,1,383,163,100,73,1,1,1,1,9.828130,0,1,0,9,36.464704,3,4,0
4,66,1,318,91,88,93,1,1,1,0,5.804299,1,1,0,6,21.809144,1,5,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              8763 non-null   int64
 1   Sex                              8763 non-null   int64
 2   Cholesterol                      8763 non-null   int64
 3   Blood Pressure High              8763 non-null   int64
 4   Blood Pressure Low               8763 non-null   int64
 5   Heart Rate                       8763 non-null   int64
 6   Diabetes                         8763 non-null   int64
 7   Family History                   8763 non-null   int64
 8   Smoking                          8763 non-null   int64
 9   Alcohol Consumption              8763 non-null   int64
 10  Exercise Hours Per Week          8763 non-null   float64
 11  Diet                             8763 non-null   int64
 12  Previous Heart Problems          8763 non-null   int64
 13  Medication Use                   8763 non-null   int64
 14  Stress Level                     8763 non-null   int64
 15  BMI                              8763 non-null   float64
 16  Physical Activity Days Per Week  8763 non-null   int64
 17  Sleep Hours Per Day              8763 non-null   int64
 18  Heart Attack Risk                8763 non-null   int64
dtypes: float64(2), int64(17)
memory usage: 1.3 MB

In [10]:
df.describe()

,Age,Sex,Cholesterol,Blood Pressure High,Blood Pressure Low,Heart Rate,Diabetes,Family History,Smoking,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,BMI,Physical Activity Days Per Week,Sleep Hours Per Day,Heart Attack Risk
count,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000
mean,53.707977,0.697364,259.877211,135.075659,85.156111,75.021682,0.652288,0.492982,0.896839,0.598083,10.014284,1.005478,0.495835,0.498345,5.469702,28.891446,3.489672,7.023508,0.358211
std,21.249509,0.459425,80.863276,26.349976,14.676565,20.550948,0.476271,0.499979,0.304186,0.490313,5.783745,0.818619,0.500011,0.500026,2.859622,6.319181,2.282687,1.988473,0.479502
min,18.000000,0.000000,120.000000,90.000000,60.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.002442,0.000000,0.000000,0.000000,1.000000,18.002337,0.000000,4.000000,0.000000
25%,35.000000,0.000000,192.000000,112.000000,72.000000,57.000000,0.000000,0.000000,1.000000,0.000000,4.981579,0.000000,0.000000,0.000000,3.000000,23.422985,2.000000,5.000000,0.000000
50%,54.000000,1.000000,259.000000,135.000000,85.000000,75.000000,1.000000,0.000000,1.000000,1.000000,10.069559,1.000000,0.000000,0.000000,5.000000,28.768999,3.000000,7.000000,0.000000
75%,72.000000,1.000000,330.000000,158.000000,98.000000,93.000000,1.000000,1.000000,1.000000,1.000000,15.050018,2.000000,1.000000,1.000000,8.000000,34.324594,5.000000,9.000000,1.000000
max,90.000000,1.000000,400.000000,180.000000,110.000000,110.000000,1.000000,1.000000,1.000000,1.000000,19.998709,2.000000,1.000000,1.000000,10.000000,39.997211,7.000000,10.000000,1.000000

In [5]:
df.columns

Index(['Age', 'Sex', 'Cholesterol', 'Blood Pressure High',
       'Blood Pressure Low', 'Heart Rate', 'Diabetes', 'Family History',
       'Smoking', 'Alcohol Consumption', 'Exercise Hours Per Week', 'Diet',
       'Previous Heart Problems', 'Medication Use', 'Stress Level', 'BMI',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day',
       'Heart Attack Risk'],
      dtype='object')

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [24]:
# x = df[['Age','Sex','Blood Pressure High','Blood Pressure Low','Cholesterol','ArithmeticError','Heart Rate', 'Smoking', 'Alcohol Consumption','Exercise Hours Per Week', 'Diet','Diabetes','Family History','Previous Heart Problems','Medication Use','Stress Level']]
x = df[['Age','Sex','Blood Pressure High','Blood Pressure Low','Cholesterol','Heart Rate', 'Smoking', 'Alcohol Consumption','Exercise Hours Per Week', 'Diet','Diabetes','Family History','Previous Heart Problems','Medication Use','Stress Level']]
y = df.iloc[:,-1]
print(x.columns)

Index(['Age', 'Sex', 'Blood Pressure High', 'Blood Pressure Low',
       'Cholesterol', 'Heart Rate', 'Smoking', 'Alcohol Consumption',
       'Exercise Hours Per Week', 'Diet', 'Diabetes', 'Family History',
       'Previous Heart Problems', 'Medication Use', 'Stress Level'],
      dtype='object')

In [25]:
scale = StandardScaler()
x_scale = scale.fit_transform(x)

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x_scale, y, test_size=0.3, random_state=10)

In [27]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.6295169265880562

In [28]:
from sklearn.decomposition import PCA

In [29]:
pca = PCA(0.95)
x_pca = pca.fit_transform(x)

In [30]:
x_train_pca, x_test_pca, y_train, y_test = train_test_split(x_pca, y, test_size=0.3, random_state=10)

In [31]:
from sklearn.ensemble import RandomForestClassifier
model_pca = RandomForestClassifier()
model_pca.fit(x_train_pca, y_train)
model_pca.score(x_test_pca, y_test)

0.608596424496006

In [32]:
import joblib
joblib.dump(model, "../models/heart_atack_model.pkl")

['../models/heart_atack_model.pkl']